<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin Organizer</title>
  </head>
  <body>
  <form method="POST" action="/piglatinize">
  <label type="text">Enter your phrase:</label>
  <input type="text" id="phrase" name='user_phrase'>
  <input type="submit">
</form>
  </body>
</html>